/**
 * Supprt Widget Styles
 * Main entry point - imports all modules
 */

/* Foundation */
@import "./variables.css";
@import "./base.css";
@import "./animations.css";

/* Components */
@import "./components/bubble.css";
@import "./components/window.css";
@import "./components/error.css";
@import "./components/header.css";
@import "./components/messages.css";
@import "./components/input.css";
@import "./components/conversations.css";
@import "./components/closed.css";
@import "./components/branding.css";
@import "./components/spinner.css";
@import "./components/typing.css";
@import "./components/lightbox.css";
@import "./components/markdown.css";

/* Responsive & Accessibility */
@import "./responsive.css";
